.fullHeart img {
  height: 30px;
  width: 30px;
  position: relative;
  left: 50vw;
  bottom: 9vw;
}

.heart img {
  height: 30px;
  width: 30px;
  position: relative;
  left: 50vw;
  bottom: 9vw;
}

.heart {
  height: 0%;
}

.fullHeart {
  height: 0%;
}

@media only screen and (min-width: 600px) {
  .fullHeart img {
    height: 40px;
    width: 40px;
    left: 0vw;
    bottom: 90px;
  }

  .heart img {
    height: 40px;
    width: 40px;
    left: 0vw;
    bottom: 90px;
  }
}
