.fullHeart img {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

.heart img {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

.heart {
  height: 0%;
}

.fullHeart {
  height: 0%;
}

@media only screen and (min-width: 600px) {
  .fullHeart img {
    height: 40px;
    width: 40px;
  }

  .heart img {
    height: 40px;
    width: 40px;
  }
}
