.cardContainer {
  margin-top: 25vh;
  background-color: #2b2a33;
}

.displayLink {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .cardContainer {
    margin-top: 30vh;
    background-color: #2b2a33;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
