.cardContainer {
  margin-top: 25vh;
  background-color: #2b2a33;
}

.displayLink {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .cardContainer {
    margin-top: 32vh;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #2b2a33;
    grid-gap: 40px;
  }
}
