:root {
  --linear-gradient-color1: #ffc700;
  --linear-gradient-color2: #2b2a33;
}

.mainCard {
  width: 80vw;
  height: 38vw;
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'title picture'
    'ingredient picture'
    'ingredient logo';
  margin: auto;
  background: linear-gradient(rgba(255, 199, 0, 0.85), rgba(43, 42, 51, 1));
  margin-bottom: 20px;
  border-radius: 10px 20px 0 20px !important;
  color: white;
}

.imgCard {
  grid-area: picture;
  grid-column-start: 2;
  opacity: 100%;
}

.imgCard img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 0% 10% 0% 10%;
  opacity: 100%;
}

.ingredientCard {
  grid-area: ingredient;
  grid-column-start: 1;
  font-size: 16px;
  text-align: left;
  padding-right: 5px;
  padding-left: 15px;
}

.titleCard {
  grid-area: title;
  grid-row-start: 1;
  font-family: 'Rouge Script', cursive;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 15px;
  font-size: 45px;
  text-align: start;
  text-transform: lowercase;
  opacity: 100%;
  color: white;
}
