:root {
  --linear-gradient-color1: #ffc700;
  --linear-gradient-color2: #2b2a33;
}

.mainCard {
  width: 80vw;
  height: 45vw;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'title picture'
    'ingredient picture'
    'ingredient logo';
  margin: auto;
  background: linear-gradient(#ffc700, #2b2a33);
  opacity: 85%;
  margin-bottom: 20px;
  border-radius: 0 20px 0 20px !important;
  color: white;
}

.imgCard {
  grid-area: picture;
  grid-column-start: 2;
  opacity: 100%;
}

.imgCard img {
  width: 100%;
  max-width: 130px;
  height: auto;
  border-radius: 0% 10% 0% 10%;
}

.ingredientCard {
  grid-area: ingredient;
  font-size: 20px;
  grid-column-start: 1;
}

.titleCard {
  grid-area: title;
  grid-row-start: 1;
  font-family: 'Rouge Script', cursive;
  padding-left: 10px;
}
