.searchBar {
  height: 4vh;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 2px 3px 3px rgba(255, 184, 0, 0.6);
  border-radius: 15px;
  border-collapse: separate;
  perspective: 1px;
  overflow: hidden;
  width: fit-content;
  margin: auto;
}

input {
  border: none;
  height: 100%;
}

input:focus {
  outline: none;
}

form button img {
  height: 70%;
  opacity: 75%;
}

button {
  height: 100%;
  border: none;
  background: rgb(255, 255, 255);
  padding: 0 6px 0 6px;
}

@media only screen and (min-width: 600px) {
  .searchBar {
    height: 6vh;
    border-radius: 30px;
  }

  input {
    width: 45vw;
    font-size: 20px;
  }
}
