* {
  box-sizing: border-box;
}
.header {
  display: grid;
  align-items: center;
  top: 0;
  background: #2b2a33;
  position: fixed;
  height: 25vh;
  width: 100vw;
  z-index: 10;
  grid-template-columns: 12.5% 12.5% 50% 12.5% 12.5%;
  grid-template-rows: 50% 30%;
  grid-template-areas:
    'logo logo title . . '
    ' . searchBar searchBar searchBar heart';
  margin-bottom: 2vh;
}

.title {
  text-decoration: none;
}

.header h1 {
  grid-area: title;
  text-align: center;
  font-size: 5rem;
  font-family: 'rouge script', sans-serif;
  color: white;
  align-self: center;
}

.logo {
  grid-area: logo;
  margin: auto;
  border: solid #ffc700 2px;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
}

.logo img {
  max-width: 100%;
  margin: auto;
}

div.logo:hover img {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.searchBar {
  grid-area: searchBar;
}
.favorisIcon {
  grid-area: heart;
  margin: -2vw;
}
.favorisIcon img {
  height: 4vh;
}

@media only screen and (min-width: 600px) {
  .header {
    height: 30vh;
    grid-template-rows: 55% 45%;
    grid-template-areas:
      'logo logo title . . '
      ' logo logo searchBar heart .';
  }
  .logo {
    width: 9rem;
    height: 9rem;
    padding: 1rem;
  }
  .header h1 {
    padding-top: 1vh;
    margin: auto;
    font-size: 7rem;
    width: 38vw;
  }
  .favorisIcon {
    margin: auto;
  }
  .favorisIcon img {
    height: 6vh;
  }
}
