div.header {
  top: 0;
  background: #2b2a33;
  width: 100%;
  position: fixed;
  padding-bottom: 2vh;
  height: 25vh;
}

div.top h1 {
  font-size: 5rem;
  text-align: center;
  font-family: 'rouge script', sans-serif;
  color: white;
  align-self: center;
}

div.title {
  display: flex;
  width: 38vw;
  justify-content: center;
  margin-left: calc(31vw - 2vh - 5rem - 2vh);
}

div.logo {
  border: solid #ffc700 2px;
  border-radius: 50%;
  padding: 1rem;
  margin: 2vh;
  width: 5rem;
  height: 5rem;
  margin-top: 1.5rem;
}

div.logo img {
  max-width: 100%;
}

div.logo:hover img {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

div.top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 65%;
}

div.bottom {
  display: flex;
  justify-content: center;
  height: 4vh;
}

@media only screen and (min-width: 600px) {
  div.header {
    height: 30vh;
  }

  div.logo {
    margin-top: 5vh;
    margin-left: 8vw;
    width: 9rem;
    height: 9rem;
  }

  div.title {
    width: 38vw;
    margin-left: calc(31vw - 8vw - 2vh - 9rem - 2vh);
  }

  div.top h1 {
    font-size: 7rem;
  }
}
