.slider {
  position: relative;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.13rem;
}

.slide {
  opacity: 0;
  transition-duration: 1s;
  font-size: 1.3rem;
}
.instruction {
  width: 50%;
  height: fit-content;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  width: 100%;
}

.right-arrow {
  right: 2vh;
  font-size: 40px;
  color: #ffc700;
  opacity: 0;
  transition-duration: 1s;
  width: 20%;
}

.right-arrow.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  cursor: pointer;
  user-select: none;
  width: 20%;
}

.left-arrow {
  left: 2vh;
  font-size: 40px;
  color: #ffc700;
  opacity: 0;
  transition-duration: 1s;
  width: 20%;
}

.left-arrow.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  cursor: pointer;
  user-select: none;
  width: 20%;
}
.step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slider span {
  color: #ffc700;
  font-weight: bold;
}
/* SHAKER */
@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.wiggle {
  display: inline-block;
  animation: wiggle 8s infinite;
}

.wiggle:hover {
  animation: none;
}

/* END SHAKER */
