.footer {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  align-items: center;
  color: white;
  font-family: ruda, sans-serif;
  font-size: 0.7rem;
}

div.icons {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

div.icons img {
  height: 2vh;
}

@media only screen and (min-width: 600px) {
  .footer {
    justify-content: flex-end;
    font-size: 1rem;
  }

  div.icons {
    margin-right: 2vw;
    width: 10vw;
  }

  div.footer p {
    margin: 0 30vw 0 38vw;
  }
}
