.mainCard {
  width: 80vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: linear-gradient(#ffc700, #2b2a33);
  margin-bottom: 20px;
  border-radius: 0% 20% 0% 10% !important;
}

.imgCard img {
  width: 100%;
  max-width: 130px;
  height: auto;
  border-radius: 0% 10% 0% 10%;
}

.ingredientCard {
  font-size: 20px;
}
