* {
  box-sizing: border-box;
}

body {
  background-color: #2b2a33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

:root {
  --toastify-color-light: #d1d1d1;
}
